input.ng-valid[type="text"]
{
  color: mediumaquamarine !important;
}
input.ng-invalid[type="text"]
{
  color: red !important;
}
input:-webkit-autofill
 {
  -webkit-text-fill-color: mediumaquamarine;
}
